<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.restaurant.mapper.RestaurantMapper">
    
    <resultMap type="Restaurant" id="RestaurantResult">
        <result property="restaurantId"    column="restaurant_id"    />
        <result property="foodType"    column="food_type"    />
        <result property="restaurantPic"    column="restaurant_pic"    />
        <result property="restaurantName"    column="restaurant_name"    />
        <result property="orderNum"    column="order_num"    />
        <result property="contact"    column="contact"    />
        <result property="status"    column="status"    />
    </resultMap>

    <sql id="selectRestaurantVo">
        select restaurant_id, food_type, restaurant_pic, restaurant_name, order_num, contact, status from restaurant
    </sql>

    <select id="selectRestaurantList" parameterType="Restaurant" resultMap="RestaurantResult">
        <include refid="selectRestaurantVo"/>
        <where>  
            <if test="foodType != null  and foodType != ''"> and food_type like concat('%', #{foodType}, '%')</if>
            <if test="restaurantName != null  and restaurantName != ''"> and restaurant_name like concat('%', #{restaurantName}, '%')</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectRestaurantByRestaurantId" parameterType="Long" resultMap="RestaurantResult">
        <include refid="selectRestaurantVo"/>
        where restaurant_id = #{restaurantId}
    </select>
        
    <insert id="insertRestaurant" parameterType="Restaurant" useGeneratedKeys="true" keyProperty="restaurantId">
        insert into restaurant
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="foodType != null">food_type,</if>
            <if test="restaurantPic != null">restaurant_pic,</if>
            <if test="restaurantName != null">restaurant_name,</if>
            <if test="orderNum != null">order_num,</if>
            <if test="contact != null">contact,</if>
            <if test="status != null">status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="foodType != null">#{foodType},</if>
            <if test="restaurantPic != null">#{restaurantPic},</if>
            <if test="restaurantName != null">#{restaurantName},</if>
            <if test="orderNum != null">#{orderNum},</if>
            <if test="contact != null">#{contact},</if>
            <if test="status != null">#{status},</if>
         </trim>
    </insert>

    <update id="updateRestaurant" parameterType="Restaurant">
        update restaurant
        <trim prefix="SET" suffixOverrides=",">
            <if test="foodType != null">food_type = #{foodType},</if>
            <if test="restaurantPic != null">restaurant_pic = #{restaurantPic},</if>
            <if test="restaurantName != null">restaurant_name = #{restaurantName},</if>
            <if test="orderNum != null">order_num = #{orderNum},</if>
            <if test="contact != null">contact = #{contact},</if>
            <if test="status != null">status = #{status},</if>
        </trim>
        where restaurant_id = #{restaurantId}
    </update>

    <delete id="deleteRestaurantByRestaurantId" parameterType="Long">
        delete from restaurant where restaurant_id = #{restaurantId}
    </delete>

    <delete id="deleteRestaurantByRestaurantIds" parameterType="String">
        delete from restaurant where restaurant_id in 
        <foreach item="restaurantId" collection="array" open="(" separator="," close=")">
            #{restaurantId}
        </foreach>
    </delete>
</mapper>